.col-1 {
  width: 33.3333333333%;
  float: left;
}

.col-2 {
  width: 33.3333333333%;
  float: left;
}

.col-3 {
  width: 33.3333333333%;
  float: left;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fafafa;
  text-align: center;
  padding: 5%;
}
body header {
  height: 5vw;
}
body .row div div .button {
  margin: 2vw auto;
  background-color: #a3a5ae;
  color: #fafafa;
  font-size: 0.8rem;
  font-weight: 400;
  border: none;
  border-radius: 0.25vw;
  height: 6vw;
  width: 18vw;
}
body .row div div .button .fa-facebook {
  font-size: 24px;
}
body .row div div p {
  font-size: 0.8rem;
  font-weight: 400;
}
body .row div div .fade-in {
  background-color: #4c4e61;
  opacity: 0.5;
}
body .row div div .fade-in:hover {
  opacity: 1;
  transition: 250ms;
}
body .row div div .fade-out {
  background-color: #4c4e61;
  opacity: 1;
}
body .row div div .fade-out:hover {
  opacity: 0.5;
  transition: 250ms;
}
body .row div div .outline-button {
  background-color: #fafafa;
  border: 2px solid #a3a5ae;
  color: #a3a5ae;
}
body .row div div .outline-button:hover {
  background-color: #a3a5ae;
  color: #fafafa;
}
body .row div div .shift-down:hover {
  transform: translateY(1.5vw);
  transition: 250ms;
}
body .row div div .shift-right:hover {
  transform: translateX(1.5vw);
  transition: 250ms;
}
body .row div div .notification {
  position: relative;
}
body .row div div .badge {
  background-color: #ff4d4d;
  color: #fafafa;
  position: absolute;
  top: -16px;
  right: 10px;
  width: 32px;
  padding: 8px;
  border-radius: 20px;
  font-size: 14px;
}
body .row div div .badge:hover {
  opacity: 0;
  transition: 200ms;
}
body .row div div .next-button .fa {
  font-size: 22px;
}
body .row div div .next-button:hover .fa {
  transform: translateX(10px);
  transition: 250ms;
}
body .row div div .previous-button .fa {
  font-size: 22px;
}
body .row div div .previous-button:hover .fa {
  transform: translateX(-10px);
  transition: 250ms;
}
body .row div div .sweep-down {
  position: relative;
  transform: perspective(1px) translateZ(0);
  transition: 750ms;
}
body .row div div .sweep-down:hover {
  color: #a3a5ae;
}
body .row div div .sweep-down:hover::before {
  transform: scaleY(1);
}
body .row div div .sweep-down::before {
  background-color: #fafafa;
  border-radius: 0.25vw;
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  transform: scaleY(0);
  transform-origin: 50% 0;
  transition: 250ms;
}
body .row div div .sweep-right {
  position: relative;
  transform: perspective(1px) translateZ(0);
  transition: 750ms;
}
body .row div div .sweep-right:hover {
  color: #a3a5ae;
}
body .row div div .sweep-right:hover::before {
  transform: scaleX(1);
}
body .row div div .sweep-right::before {
  background-color: #fafafa;
  border-radius: 0.25vw;
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition: 250ms;
}
body .row div div .grow-button {
  position: relative;
}
body .row div div .grow-button:hover::before {
  transform: scale(1.1);
}
body .row div div .grow-button::before {
  background-color: #a3a5ae;
  border-radius: 0.25vw;
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  transition: 350ms;
}
body .row div div .shrink-button {
  position: relative;
}
body .row div div .shrink-button:hover::before {
  transform: scale(0.9);
}
body .row div div .shrink-button::before {
  height: 6vw;
  width: 18vw;
  background-color: #a3a5ae;
  border-radius: 0.25vw;
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  transform: scale(1.1);
  transform-origin: 50% 50%;
  transition: 550ms;
}

/*# sourceMappingURL=compiled.css.map */
