//colors code
$dark-blue: #4c4e61;
$greyish-blue: #a3a5ae;
$light-grey: #fafafa;
$pale-yellow: #ffff00;
$red: #ff4d4d;
$dark-red: #e60000;

//grid system
$gridNum: 3;

@for $i from 1 through $gridNum {
    .col-#{$i} {
        width: (100% / $gridNum);
        float: left;
    }
}

//font
$mainFont: 'Poppins',
sans-serif;
$fontSize: 16px;
$fontWeight: 100;

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: $mainFont;
    background-color: $light-grey;
    text-align: center;
    padding: 5%;

    header {
        height: 5vw;
    }

    .row {
        div {
            div {
                .button {
                    margin: 2vw auto;
                    background-color: $greyish-blue;
                    color: $light-grey;
                    font-size: 0.8rem;
                    font-weight: $fontWeight * 4;
                    border: none;
                    border-radius: 0.25vw;
                    height: 6vw;
                    width: 18vw;

                    .fa-facebook {
                        font-size: 24px;
                    }
                }

                p {
                    font-size: 0.8rem;
                    font-weight: $fontWeight * 4;
                }

                .fade-in {
                    background-color: $dark-blue;
                    opacity: 0.5;

                    &:hover {
                        opacity: 1;
                        transition: 250ms;
                    }
                }

                .fade-out {
                    background-color: $dark-blue;
                    opacity: 1;

                    &:hover {
                        opacity: 0.5;
                        transition: 250ms;
                    }
                }

                .outline-button {
                    background-color: $light-grey;
                    border: 2px solid $greyish-blue;
                    color: $greyish-blue;

                    &:hover {
                        background-color: $greyish-blue;
                        color: $light-grey;
                    }
                }

                .shift-down {
                    &:hover {
                        transform: translateY(1.5vw);
                        transition: 250ms;
                    }
                }

                .shift-right {
                    &:hover {
                        transform: translateX(1.5vw);
                        transition: 250ms;
                    }
                }

                .notification {
                    position: relative;
                }

                .badge {
                    background-color: $red;
                    color: $light-grey;
                    position: absolute;
                    top: -16px;
                    right: 10px;
                    width: 32px;
                    padding: 8px;
                    border-radius: 20px;
                    font-size: 14px;

                    &:hover {
                        opacity: 0;
                        transition: 200ms;
                    }
                }

                .next-button {
                    .fa {
                        font-size: 22px;
                    }

                    &:hover {
                        .fa {
                            transform: translateX(10px);
                            transition: 250ms;
                        }
                    }
                }

                .previous-button {
                    .fa {
                        font-size: 22px;
                    }

                    &:hover {
                        .fa {
                            transform: translateX(-10px);
                            transition: 250ms;
                        }
                    }
                }

                .sweep-down {
                    position: relative;
                    transform: perspective(1px) translateZ(0);
                    transition: 750ms;

                    &:hover {
                        color: $greyish-blue;
                    }

                    &:hover::before {
                        transform: scaleY(1);
                    }
                }

                .sweep-down::before {
                    background-color: $light-grey;
                    border-radius: 0.25vw;

                    position: absolute;
                    content: "";
                    display: block;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    z-index: -1;

                    transform: scaleY(0);
                    transform-origin: 50% 0;
                    transition: 250ms;
                }

                .sweep-right {
                    position: relative;
                    transform: perspective(1px) translateZ(0);
                    transition: 750ms;

                    &:hover {
                        color: $greyish-blue;
                    }

                    &:hover::before {
                        transform: scaleX(1);
                    }
                }

                .sweep-right::before {
                    background-color: $light-grey;
                    border-radius: 0.25vw;

                    position: absolute;
                    content: "";
                    display: block;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    z-index: -1;

                    transform: scaleX(0);
                    transform-origin: 0 50%;
                    transition: 250ms;
                }

                .grow-button {
                    position: relative;

                    &:hover::before {
                        transform: scale(1.1);
                    }
                }

                .grow-button::before {
                    background-color: $greyish-blue;
                    border-radius: 0.25vw;

                    position: absolute;
                    content: "";
                    display: block;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    z-index: -1;

                    transition: 350ms;
                }
                
                .shrink-button {
                    position: relative;

                    &:hover::before {
                        transform: scale(0.9);
                    }
                }

                .shrink-button::before {
                    height: 6vw;
                    width: 18vw;
                    
                    background-color: $greyish-blue;
                    border-radius: 0.25vw;

                    position: absolute;
                    content: "";
                    display: block;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    z-index: -1;
                    
                    transform: scale(1.1);
                    transform-origin: 50% 50%;
                    transition: 550ms;
                }
            }
        }
    }
}
