//colors code
$dark-blue: #4c4e61;
$greyish-blue: #a3a5ae;
$light-grey: #fafafa;
$pale-yellow: #ffff00;

//grid system
$gridNum: 3;

@for $i from 1 through $gridNum {
    .col-#{$i} {
        width: (100% / $gridNum);
        float: left;
    }
}

//font
$mainFont: 'Poppins',
sans-serif;
$fontSize: 16px;
$fontWeight: 100;

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: $mainFont;
    background-color: $light-grey;
    text-align: center;
    padding: 5%;

    header {
        height: 5vw;
    }

    .row div div button {
        margin: 2vw auto;
        background-color: $greyish-blue;
        color: $light-grey;
        font-size: 0.8rem;
        font-weight: $fontWeight * 4;
        border: none;
        border-radius: 0.25vw;
        height: 6vw;
        width: 18vw;
    }

    .row div div p {
        font-size: 0.8rem;
        font-weight: $fontWeight * 4;
    }

    .row div div .change-color {
        &:hover {
            background-color: $dark-blue;
        }
    }

    .row div div .outline-button {
        background-color: $light-grey;
        border: 2px solid $greyish-blue;
        color: $greyish-blue;

        &:hover {
            background-color: $greyish-blue;
            color: $light-grey;
        }
    }

    .row div div .shift-down {
        &:hover {
            transform: translateY(1vw);
        }
    }

    .row div div .shift-right {
        &:hover {
            transform: translateX(1vw);
        }
    }
}
